@model IEnumerable<NotesMarketPlaceProject.Models.AddCountry>
<!DOCTYPE html>
<html>
<head>
    <title>Manage Category</title>

    <!--Important meta tags-->
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap/bootstrap.min.css">

    <!--Datatable CSS-->
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/Admin/manage_category.css">

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/Admin/responsive_manage_category.css">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Dashboard","Admin")">
                <img src="~/Content/images/logo.png" alt="logo" class="logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-right">
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Dashboard","Admin")">Dashboard</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown-1" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Notes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown-1">
                            <a class="dropdown-item" href="@Url.Action("NotesUnderReview","Admin")">Notes Under Review</a>
                            <a class="dropdown-item" href="@Url.Action("PublishedNotesByAdmin","Admin")">Published Notes</a>
                            <a class="dropdown-item" href="@Url.Action("DownloadedNotes","Admin")">Downloaded Notes</a>
                            <a class="dropdown-item" href="@Url.Action("RejectedNotes","Admin")">Rejected Notes</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Members","Admin")">Members</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="" id="navbarDropdown-2" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Reports
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown-2">
                            <a class="dropdown-item" href="@Url.Action("SpamReports","Admin")">Spam Reports</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown-2" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Settings
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown-1">
                            <a class="dropdown-item" href="@Url.Action("ManageSystemConfiguration","Admin")">Manage System Configuration</a>
                            <a class="dropdown-item" href="@Url.Action("ManageAdmin","Admin")">Manage Administrator</a>
                            <a class="dropdown-item" href="@Url.Action("ManageCategory","Admin")">Manage Category</a>
                            <a class="dropdown-item" href="@Url.Action("ManageType","Admin")">Manage Type</a>
                            <a class="dropdown-item" href="@Url.Action("ManageCountry","Admin")">Manage Countries</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img src="@Url.Action("UserPhoto", "Admin")" alt="logo">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("UpdateProfile","Admin")">Update Profile</a>
                            <a class="dropdown-item" href="@Url.Action("Changepassword","NotesMarketPlace")">Change Password</a>
                            <a class="dropdown-item" id="logout" onclick="logout()">Logout</a>

                        </div>
                    </li>
                    <li class="nav-item" id="btn">
                        <a class="nav-link" href="@Url.Action("Logout","NotesMarketPlace")"><button type="submit" class="btn btn-primary btn-block" onclick="return logoutcall()">Logout</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navbar Ends-->
    <!--Manage Category-->
    <section id="mange-category">
        <div class="container">
            <!--Manage Admin Heading-->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    <div class="manage-category-heading">
                        <div class="heading">
                            <h3>Manage Country</h3>
                        </div>
                    </div>
                </div>
            </div>

            <!--Search nd add category-->
            <div class="row" id="add-admin-search">
                <div class="col-md-6 col-sm-4 col-12" id="add-category">
                    <div class="button">
                        <a href="@Url.Action("AddCountry","Admin")"><button class="btn btn-primary">ADD Country</button></a>
                    </div>
                </div>

                <div class="col-md-6 col-sm-8 col-12">
                    <div id="search">
                        <div class="row">
                            <div class="col-md-8 col-sm-6 col-6">
                                <div class="form-group search-note">
                                    <input type="text" class="form-control" id="example" placeholder="Search">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-6">
                                <div class="button">
                                    <button class="btn btn-primary" id="searchbtn">SEARCH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Table-->
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table" id="manage" data-pagination="true">
                            <thead>
                                <tr class="tr">
                                    <th>SR NO.</th>
                                    <th>CATEGORY</th>
                                    <th>DESCRIPTION</th>
                                    <th>DATE ADDED</th>
                                    <th>ADDED BY</th>
                                    <th>ACTIVE</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{ int i = 0;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(i+=1)</td>
                                        <td>@item.countrytbl.CountryName</td>
                                        <td>@item.countrytbl.CountryCode</td>
                                        <td>@item.countrytbl.CreatedDate</td>
                                        <td>@item.usertbl.FirstName @item.usertbl.LastName</td>
                                        @if (item.countrytbl.IsActive == true)
                                        {
                                            <td>Yes</td>
                                        }
                                        else
                                        {
                                            <td>No</td>
                                        }
                                        <td>
                                            <a href="@Url.Action("AddCountry","Admin",new { id=item.countrytbl.CountryID})"><img src="~/Content/images/Dashboard/edit.png" id="view-1" alt="edit"></a>
                                            <a href="@Url.Action("DeleteCountry","Admin",new { id=item.countrytbl.CountryID})"><img src="~/Content/images/delete.png" alt="delete" onclick="return deletefun()"></a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Manage Administrator Ends-->
    @Html.Partial("_FooterAdmin")
    <!--JQuery JS-->
    <script src="~/Scripts/js/jquery.js"></script>

    <!--Bootstrap JS-->
    <script type="text/javascript" src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>

    @section  Scripts{
        <script>
            $(document).ready(function () {
                $.noConflict();
                var table = $('#manage').DataTable({
                    'sDom': '"top"i',
                    "iDisplayLength": 10,
                    language: {
                        paginate: {
                            next: '<i class="fa fa-angle-right fa-1x"></i>',
                            previous: '<i class="fa fa-angle-left fa-1x"></i>',
                            first: false,
                            last: false
                        }
                    }

                });

                $("#searchbtn").click(function () {
                    var x = $("#example").val();
                    table.search(x).draw();
                });
            });
            function deletefun() {
                if (confirm("Are you sure you want to make this country inactive ??")) {
                    return true;
                }
                else {
                    return false;
                }
            }
            function logoutcall() {

                    if (confirm("Are you sure ,you want to Logout??")) {
                        return true;
                    } else {

                        return false;
                    }
                }
                function logout() {

                    if (confirm("Are you sure ,you want to Logout??")) {
                        window.location.href = '@Url.Action("Logout", "NotesMarketPlace")';
                    }
                    else {
                        window.location.href = '@Url.Action("ManageCountry", "Admin")';
                    }
                }
        </script>
    }
</body>
</html>




