@*This is a notedetails page for the admin*@
@model NotesMarketPlaceProject.Models.SearchNotes
<!DOCTYPE html>
<html>
<head>
    <title>Note Details</title>

    <!--Important meta tags-->
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap/bootstrap.min.css">

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/Admin/note_details.css">

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/Admin/responsive_note_details.css">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Dashboard","Admin")">
                <img src="~/Content/images/logo.png" alt="logo" class="logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-right">
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Dashboard","Admin")">Dashboard</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown-1" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Notes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown-1">
                            <a class="dropdown-item" href="@Url.Action("NotesUnderReview","Admin")">Notes Under Review</a>
                            <a class="dropdown-item" href="@Url.Action("PublishedNotesByAdmin","Admin")">Published Notes</a>
                            <a class="dropdown-item" href="@Url.Action("DownloadedNotes","Admin")">Downloaded Notes</a>
                            <a class="dropdown-item" href="@Url.Action("RejectedNotes","Admin")">Rejected Notes</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Members","Admin")">Members</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="" id="navbarDropdown-2" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Reports
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown-2">
                            <a class="dropdown-item" href="@Url.Action("SpamReports","Admin")">Spam Reports</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown-2" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Settings
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown-1">
                            <a class="dropdown-item" href="@Url.Action("ManageSystemConfiguration","Admin")">Manage System Configuration</a>
                            <a class="dropdown-item" href="@Url.Action("ManageAdmin","Admin")">Manage Administrator</a>
                            <a class="dropdown-item" href="@Url.Action("ManageCategory","Admin")">Manage Category</a>
                            <a class="dropdown-item" href="@Url.Action("ManageType","Admin")">Manage Type</a>
                            <a class="dropdown-item" href="@Url.Action("ManageCountry","Admin")">Manage Countries</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img src="@Url.Action("UserPhoto", "Admin")" alt="logo">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("UpdateProfile","Admin")">Update Profile</a>
                            <a class="dropdown-item" href="@Url.Action("Changepassword","NotesMarketPlace")">Change Password</a>
                            <a class="dropdown-item" id="logout" onclick="logout()">Logout</a>

                        </div>
                    </li>
                    <li class="nav-item" id="btn">
                        <a class="nav-link" href="@Url.Action("Logout","NotesMarketPlace")"><button type="submit" class="btn btn-primary btn-block" onclick="return logoutcall()">Logout</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navbar Ends-->
    <!--Notes Details-->
    <div class="container" id="padding">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <!--Part 1-->
                <div class="row">
                    <!--Left Part-->
                    <div class="col-lg-7 col-md-7 col-sm-12" id="note-details">

                        <!--Hidden value-->
                        <input type="hidden" name="ID" id="hidden_id" value=@Model.Singlenote.ID>
                        <!--Hidden value ends-->
                        <!--Heading-->
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-12" id="heading-left">
                                <h3>Notes Details</h3>
                                <img class="card-img-top" src="~/Uploadimg/@Model.Singlenote.DisplayPicture" alt="Card image cap" id="">
                            </div>
                            <div class="col-md-6 col-sm-12 col-12" id="heading-right">
                                <h2></h2>
                                <h6>@Model.Singlenote.Title</h6>
                                <p>@Model.Singlenote.Description</p>


                                @if (Model.Singlenote.IsPaid == false)
                                {
                                    <button type="button" class="btn btn-primary" id="download-btn" onclick="window.location.href='@Url.Action("DownloadPdf", "NotesMarketPlace", new { id = Model.Singlenote.ID })'">DOWNLOAD</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-primary" id="download-btn1" onclick="window.location.href='@Url.Action("DownloadPdf", "NotesMarketPlace", new { id = Model.Singlenote.ID })'">DOWNLOAD / $@Model.Singlenote.SellingPrice</button>
                                }
                            </div>
                        </div>
                    </div>

                    <!--Right Part-->
                    <div class="col-lg-5 col-md-5 col-sm-12" id="note-review">
                        <div class="row">
                            @if (Model.Singlenote.UniversityName != null)
                            {
                                <div class="col-md-6 col-sm-6 col-6"><span id="type">Institution:</span></div>
                                <div class="col-md-6 col-sm-6 col-6 text-right">
                                    <span id="value">
                                        @Model.Singlenote.UniversityName
                                    </span>
                                </div>
                            }
                            @if (Model.CountryName != null)
                            {
                                <div class="col-md-6 col-sm-6 col-6"><span id="type">Country:</span></div>
                                <div class="col-md-6 col-sm-6 col-6 text-right">
                                    <span id="value">
                                        @Model.CountryName
                                    </span>
                                </div>
                            }
                            @if (Model.Singlenote.Course != null)
                            {
                                <div class="col-md-6 col-sm-6 col-6"><span id="type">Course Name:</span></div>
                                <div class="col-md-6 col-sm-6 col-6 text-right">
                                    <span id="value">
                                        @Model.Singlenote.Course
                                    </span>
                                </div>
                            }
                            @if (Model.Singlenote.CourseCode != null)
                            {
                                <div class="col-md-6 col-sm-6 col-6"><span id="type">Course Code:</span></div>
                                <div class="col-md-6 col-sm-6 col-6 text-right">
                                    <span id="value">@Model.Singlenote.CourseCode</span>
                                </div>
                            }
                            @if (Model.Singlenote.Professor != null)
                            {
                                <div class="col-md-6 col-sm-6 col-6"><span id="type">Proffessor:</span></div>
                                <div class="col-md-6 col-sm-6 col-6 text-right">
                                    <span id="value">
                                        @Model.Singlenote.Professor
                                    </span>
                                </div>
                            }
                            @if (Model.Singlenote.NumberOfPages != null)
                            {
                                <div class="col-md-6 col-sm-6 col-6"><span id="type">Number Of Pages:</span></div>
                                <div class="col-md-6 col-sm-6 col-6 text-right">
                                    <span id="value">
                                        @Model.Singlenote.NumberOfPages
                                    </span>
                                </div>
                            }
                            @if (Model.Singlenote.PublishedDate != null)
                            {
                                <div class="col-md-6 col-sm-6 col-6"><span id="type">Approoved date:</span></div>
                                <div class="col-md-6 col-sm-6 col-6 text-right">
                                    <span id="value">
                                        @Model.Singlenote.PublishedDate
                                    </span>
                                </div>
                            }
                            <div class="col-md-6 col-sm-6 col-6"><span id="type">Rating:</span></div>
                            <div class="col-md-6 col-sm-6 col-6 text-right">
                                <span id="value" class="rate">
                                    @{ decimal j = @ViewBag.Rating;}
                                    @for (decimal i = 0; i < j; i++)
                                    {
                                        <img src="~/Content/images/star.png" alt="star">
                                    }
                                    @for (decimal i = j; i < 5; i++)
                                    {
                                        <img src="~/Content/images/star-white.png" alt="star">
                                    }
                                    @ViewBag.Numberofratings Reviews
                                </span>
                            </div>
                            <div class="col-md-12 col-sm-12 col-12" id="special-note">
                                <p>@ViewBag.ReprtIssue Users marked this note as inappropriate.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div id="line">
            </div>
        </div>
    </div>

    <!--Part 2-->
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-12" id="notes-preview">
                <!--Left Part-->
                <div class="col-md-12 col-sm-12 col-12" id="heading">
                    <h3>Notes Preview </h3>
                </div>

                <!--PDF-->

                <div id="Iframe-Cicis-Menu-To-Go" class="set-margin-cicis-menu-to-go set-padding-cicis-menu-to-go set-border-cicis-menu-to-go set-box-shadow-cicis-menu-to-go center-block-horiz">
                    <div class="responsive-wrapper responsive-wrapper-padding-bottom-90pct" style="-webkit-overflow-scrolling: touch; overflow: auto;">
                        <iframe src="~/Uploadimg/@Model.Singlenote.NotesPreview">
                            <p style="font-size: 110%;">
                                <em>
                                    <strong>ERROR: </strong>
                                    An &#105;frame should be displayed here but your browser version does not support &#105;frames.
                                </em> Please update your browser to its most recent version and try again, or access the file <a href="../images/sample.pdf">with this link.</a>
                            </p>
                        </iframe>
                    </div>
                </div>

            </div>

            <div class="col-md-7 col-sm-12 col-12" id="customer-review">
                <!--Right Part-->
                <div class="col-md-12 col-sm-12 col-12" id="heading">
                    <h3>Customer Review </h3>
                </div>
                <div class="col-md-12 col-sm-12 col-12" id="customer-review-box">

                    @foreach (var item in @ViewBag.Reviewtable)
                    {
                        <div class="col-md-12 col-sm-12 col-12 reviewer-1">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-3 img-fluid" id="img">
                                    <img src="~/Uploadprofileimg/@item.userprofiledata.ProfilePicture">
                                </div>
                                <div class="col-md-9 col-sm-9 col-9 reviewer-3" id="text">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span style="float:right" id="delete_review_img">
                                                <a href="@Url.Action("DeleteReview","Admin",new { id=item.reviewdata.ID})"><img src="~/Content/images/delete.png" alt="delete" onclick="return deletereview()">
                                            </span>
                                            <h4>@item.userdata.FirstName</h4>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="rate" id="rating">

                                            @for (decimal i = 0; i < item.reviewdata.Ratings; i++)
                                            {
                                                <img src="~/Content/images/star.png" alt="star">
                                            }
                                            @for (decimal i = item.reviewdata.Ratings; i < 5; i++)
                                            {
                                                <img src="~/Content/images/star-white.png" alt="star">
                                            }
                                        </div>

                                    </div>
                                    <div class="row">
                                        <p>@item.reviewdata.Comments</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="line1">
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!--Part 2 Ends-->

    @Html.Partial("_FooterAdmin")

    <!--JQuery JS-->
    <script src="~/Scripts/js/jquery.js"></script>

    <!--Bootstrap JS-->
    <script src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>

    <script>
        function deletereview() {
            if (confirm("Are you sure you want to delete this review???")) {
                return true;
            }
            else {
                return false;
            }
        }
        function logoutcall() {

                    if (confirm("Are you sure ,you want to Logout??")) {
                        return true;
                    } else {

                        return false;
                    }
                }
                function logout() {

                    if (confirm("Are you sure ,you want to Logout??")) {
                        window.location.href = '@Url.Action("Logout", "NotesMarketPlace")';
                    }
                    else {
                        window.location.href = '@Url.Action("NoteDetails", "Admin")';
                    }
                }

    </script>
    </script>
</body>
</html>

