@model NotesMarketPlaceProject.ViewModel.PublishedNotesadminvm
<!DOCTYPE html>
<html>
<head>
    <title>Rejected Notes</title>

    <!--Important meta tags-->
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap/bootstrap.min.css">

    <!--Datatable CSS-->
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/Admin/published_notes.css">

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/Admin/responsive_rejected_notes.css">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Dashboard","Admin")">
                <img src="~/Content/images/logo.png" alt="logo" class="logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-right">
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Dashboard","Admin")">Dashboard</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown-1" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Notes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown-1">
                            <a class="dropdown-item" href="@Url.Action("NotesUnderReview","Admin")">Notes Under Review</a>
                            <a class="dropdown-item" href="@Url.Action("PublishedNotesByAdmin","Admin")">Published Notes</a>
                            <a class="dropdown-item" href="@Url.Action("DownloadedNotes","Admin")">Downloaded Notes</a>
                            <a class="dropdown-item" href="@Url.Action("RejectedNotes","Admin")">Rejected Notes</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Members","Admin")">Members</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="" id="navbarDropdown-2" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Reports
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown-2">
                            <a class="dropdown-item" href="@Url.Action("SpamReports","Admin")">Spam Reports</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown-2" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Settings
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown-1">
                            <a class="dropdown-item" href="@Url.Action("ManageSystemConfiguration","Admin")">Manage System Configuration</a>
                            <a class="dropdown-item" href="@Url.Action("ManageAdmin","Admin")">Manage Administrator</a>
                            <a class="dropdown-item" href="@Url.Action("ManageCategory","Admin")">Manage Category</a>
                            <a class="dropdown-item" href="@Url.Action("ManageType","Admin")">Manage Type</a>
                            <a class="dropdown-item" href="@Url.Action("ManageCountry","Admin")">Manage Countries</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img src="@Url.Action("UserPhoto", "Admin")" alt="logo">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("UpdateProfile","Admin")">Update Profile</a>
                            <a class="dropdown-item" href="@Url.Action("Changepassword","NotesMarketPlace")">Change Password</a>
                            <a class="dropdown-item" id="logout" onclick="logout()">Logout</a>

                        </div>
                    </li>
                    <li class="nav-item" id="btn">
                        <a class="nav-link" href="@Url.Action("Logout","NotesMarketPlace")"><button type="submit" class="btn btn-primary btn-block" onclick="return logoutcall()">Logout</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navbar Ends-->
    <!--Rejected Notes-->
    <section id="rejected-notes-search">
        <div class="container">
            <!--Heading-->
            <div class="row">
                <div class="col-md-12">
                    <div class="published-notes">
                        <div class="heading">
                            <h3>Published Notes</h3>
                        </div>
                    </div>
                </div>
            </div>

            <!--Rejected notes-->
            <div class="row">
                <div class="col-md-6 col-sm-6 col-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-7">
                            <div class="form-group search-name">
                                <p>Seller</p>
                                <select class="form-control custom-select" id="example1">
                                    <option value="">Seller Name</option>
                                    @foreach (var item in @ViewBag.sellername)
                                    {
                                        <option>@item.usertbl.FirstName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-12">
                    <div id="search">
                        <div class="row">
                            <div class="col-md-8 col-sm-6 col-6">
                                <div class="form-group search-note">
                                    <input type="text" class="form-control" id="example" placeholder="Search">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-6">
                                <div class="button">
                                    <button class="btn btn-primary" id="searchbtn">SEARCH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Table-->
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table" id="rejectednotes">
                            <thead>
                                <tr class="tr">
                                    <th>SR NO.</th>
                                    <th>NOTE TITLE</th>
                                    <th>CATEGORY</th>
                                    <th>SELL TYPE</th>
                                    <th>PRICE</th>
                                    <th>SELLER</th>
                                    <th>PUBLISHED DATE</th>
                                    <th>APPROVED BY</th>
                                    <th>NUMBER OF DOWNLOADS</th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 0;}
                                @foreach (var item in Model.singlerowdata)
                                {
                                    <tr>
                                        <td>@(i+=1)</td>
                                        <td><a href="@Url.Action("NoteDetails","Admin", new { id=item.sellernotetbl.ID})">@item.sellernotetbl.Title</a></td>
                                        <td>@item.notecattbl.CategoryName</td>
                                        @if (item.sellernotetbl.IsPaid == false)
                                        {
                                            <td>Free</td>
                                        }
                                        @if (item.sellernotetbl.IsPaid == true)
                                        {
                                            <td>Paid</td>
                                        }
                                        <td>$@item.sellernotetbl.SellingPrice</td>
                                        <td>@item.usertbl.FirstName @item.usertbl.LastName<span style="float:right"><a href="@Url.Action("MemberDetails","Admin",new { id=item.usertbl.ID})"><img src="~/Content/images/downloads/eye.png" alt="review"></a></span></td>
                                        <td>@item.sellernotetbl.PublishedDate</td>
                                        <td>@item.useradmin.FirstName @item.useradmin.LastName</td>
                                        <td>@TempData[item.sellernotetbl.ID.ToString()]</td>
                                        <td>
                                            <div class="dropdown" id="dotdropdown">
                                                <img src="~/Content/images/dots.png" class="dropimg" alt="view" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownfor3">
                                                    <a href="@Url.Action("DownloadPdf", "Admin",new { id = item.sellernotetbl.ID })" class="dropdown-item">Download Notes</a>
                                                    <a href="@Url.Action("NoteDetails", "Admin",new { id = item.sellernotetbl.ID })" class="dropdown-item">View More Details</a>
                                                    <a href="#" data-toggle="modal" data-target="#Modal1-@item.sellernotetbl.ID" class="dropdown-item">UnPublish</a>
                                                </div>
                                            </div>
                                        </td>

                                        <!--Modal for Unpublish Book by admin-->
                                        <div class="modal fade" id="Modal1-@item.sellernotetbl.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <div class="review text-left">
                                                            <h3>Notes- @item.sellernotetbl.Title</h3>
                                                        </div>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        @using (@Html.BeginForm("UnpublishBook", "Admin", new { id = item.sellernotetbl.ID }, FormMethod.Post))
                                                        {
                                                            <div>

                                                            </div>
                                                            <div class="comments">
                                                                <label>Remarks</label>
                                                                <textarea class="form-control" placeholder="Write Remarks.." name="Remarks" required></textarea>
                                                            </div>

                                                            <div class="submit-btn">
                                                                <button type="submit" class="btn btn-primary report-issue" style="background-color:red; color:white;" onclick="return unpublishnote()">UnPublish</button>
                                                                <button type="button" id="cancel_btn" class="btn btn-secondary" data-dismiss="modal" style="background-color:green; color:white;">Cancel</button>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Modal Ends-->
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Html.Partial("_FooterAdmin")
    <!--JQuery JS-->
    <script src="~/Scripts/js/jquery.js"></script>

    <!--Bootstrap JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script type="text/javascript" src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>

    @section  Scripts{
        <script>
            $(document).ready(function () {
                $.noConflict();
                var table = $('#rejectednotes').DataTable({
                    'sDom': '"top"i',
                    "iDisplayLength": 5,
                    language: {
                        paginate: {
                            next: '<i class="fa fa-angle-right fa-1x"></i>',
                            previous: '<i class="fa fa-angle-left fa-1x"></i>',
                            first: false,
                            last: false
                        }
                    }

                });
                $('select').change(function () {
                    var y = $(this).val();
                    //alert(y);
                    table.columns(5).search(y).draw();
                });
                $("#searchbtn").click(function () {
                    var x = $("#example").val();
                    var y = $('select').val();
                    table.search(x).columns(5).search(y).draw();
                });

            });
            function unpublishnote() {
                if (confirm("Are you sure you want to UnPublish this note??")) {
                    return true;
                }
                else {
                    return false;
                }
            }
            function logoutcall() {

                    if (confirm("Are you sure ,you want to Logout??")) {
                        return true;
                    } else {

                        return false;
                    }
                }
                function logout() {

                    if (confirm("Are you sure ,you want to Logout??")) {
                        window.location.href = '@Url.Action("Logout", "NotesMarketPlace")';
                    }
                    else {
                        window.location.href = '@Url.Action("PublishedNotesByAdmin", "Admin")';
                    }
                }

        </script>
    }
</body>
</html>
