@model NotesMarketPlaceProject.ViewModel.SearchNotesnewViewModel
@if (Model != null && Model.newGetSellerNotesDetails_Results != null && Model.newGetSellerNotesDetails_Results.Count() > 0)
{
    double dblPageCount = (double)((decimal)Model.TotalRecords / decimal.Parse(Model.PageSize));
    int pageCount = (int)Math.Ceiling(dblPageCount);
    <section id="books">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    <div class="book-heading">
                        <h3>Total @Model.TotalRecords Notes</h3>
                    </div>
                </div>
            </div>
            <div id="PartialSearchNoteOuter">
                <div class="row">
                    @foreach (var item in Model.newGetSellerNotesDetails_Results)
                    {
                        <!--Book-->
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12" id="card_check">
                            <div class="card" id="Note_Details" onclick="window.location.href='@Url.Action("NoteDetails", "NotesMarketPlace", new { id = item.ID })'">

                                @if (item.DisplayPicture != null)
                                {
                                    <img class="card-img-top" src="~/Uploadimg/@item.DisplayPicture" alt="Card image cap">
                                }
                                else
                                {
                                    <img class="card-img-top" src="~/Uploadimg/Default.jpg" alt="Card image cap">
                                }
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title" id="notedetails">@item.Title</h5>
                                <p class="card-text">
                                    <div class="row">
                                        @if (item.UniversityName != null)
                                        {
                                            <div class="col-md-2 col-sm-2 col-2">
                                                <span id="img1"><img src="~/Content/images/Search/university.png" alt="university-img" class="img-fluid"></span>
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-10">
                                                <span id="text">@item.UniversityName , @item.CountyName</span>
                                            </div>
                                        }
                                        @if (item.NumberOfPages != null)
                                        {
                                            <div class="col-md-2 col-sm-2 col-2">
                                                <span id="img1"><img src="~/Content/images/Search/pages.png" alt="pages-img" class="img-fluid"></span>
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-10">
                                                <span id="text">@Html.DisplayFor(m => item.NumberOfPages)</span>
                                            </div>
                                        }
                                        @if (item.CreatedDate != null)
                                        {
                                            <div class="col-md-2 col-sm-2 col-2">
                                                <span id="img1"><img src="~/Content/images/Search/date.png" alt="date-img" class="img-fluid"></span>
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-10">
                                                <span id="text">@Html.DisplayFor(m => item.CreatedDate)</span>
                                            </div>
                                        }
                                        <div class="col-md-2 col-sm-2 col-2">
                                            <span id="img1"><img src="~/Content/images/Search/flag.png" alt="flag-img" class="img-fluid"></span>
                                        </div>
                                        <div class="col-md-10 col-sm-10 col-10">
                                            @if (item.Report != null)
                                            {
                                                <span id="text-imp">@item.Report Users marked this note as inappropriate</span>
                                            }
                                            else
                                            {
                                                <span id="text-imp">0 Users marked this note as inappropriate</span>
                                            }
                                        </div>
                                    </div>
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        @if (item.Rating != null)
                                        {
                                            for (int i = 0; i < (int)item.Rating; i++)
                                            {
                                                <img src="~/Content/images/star.png" alt="star" id="rate">
                                            }
                                            for (int i = (int)item.Rating; i < 5; i++)
                                            {
                                                <img src="~/Content/images/star-white.png" alt="star" id="rate">
                                            }
                                        }
                                        else
                                        {
                                            for (int i = 0; i < 5; i++)
                                            {
                                                <img src="~/Content/images/star-white.png" alt="star" id="rate">
                                            }
                                        }
                                       
                                    </small>
                                    @if (item.Rating != null)
                                    {
                                    <p>@item.TotalRating Reviews</p>
                                     }
                                     else
                                     {
                                     <p>0 Review</p>
                                     }
                            
                                    </div>
                                </div>
                            </div>
                        }
                </div>

                <div class="jplist-panel footer">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <!-- pagination results -->
                                <div class="jplist-label" data-type="Showing {start} to {end} of {all} entries" data-control-type="pagination-info" data-control-name="paging" data-control-action="paging">
                                    Showing @((Convert.ToInt32(Model.PageNumber) - 1) * Convert.ToInt32(Model.PageSize) + 1) to @(Convert.ToInt32(Model.PageNumber) * Convert.ToInt32(Model.PageSize) <= Model.TotalRecords ? Convert.ToInt32(Model.PageNumber) * Convert.ToInt32(Model.PageSize) : Model.TotalRecords) of @Model.TotalRecords entries
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
                                <div class="jplist-pagination" data-control-type="pagination" data-control-name="paging" data-control-action="paging" data-range="5">
                                    @if (pageCount > 1 && Convert.ToInt32(Model.PageNumber) > 1)
                                    {
                                        <div class="jplist-pagingprev jplist-hidden" data-type="pagingprev">
                                            <button type="button" class="jplist-prev" data-type="prev" title="" data-number="0" value="@(Convert.ToInt32(Model.PageNumber) - 1)">‹</button>
                                        </div>
                                    }
                                    <div class="jplist-pagingmid" data-type="pagingmid">
                                        <div class="jplist-pagesbox" data-type="pagesbox">
                                            @if (pageCount > 1)
                                            {
                                                int startPage = 1, endPage = pageCount;
                                                for (int iPage = startPage; iPage <= endPage; iPage++)
                                                {
                                                    if (iPage != Convert.ToInt32(Model.PageNumber))
                                                    {
                                                        <button type="button" data-type="page" data-number="@iPage" title="" value="@iPage">@iPage</button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" data-type="page" class="jplist-current" data-active="true" data-number="@iPage" title="" value="@iPage">@iPage</button>
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                    @if (pageCount > 1 && Convert.ToInt32(Model.PageNumber) < pageCount)
                                    {
                                        <div class="jplist-pagingnext" data-type="pagingnext">
                                            <button type="button" class="jplist-next" data-type="next" title="" data-number="@(Convert.ToInt32(Model.PageNumber) + 1)" value="@(Convert.ToInt32(Model.PageNumber) + 1)">›</button>

                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        }
        else
        {
        <section id="books" class="text-center" style="color:#d1d1d1">
            <h4>No Records Found</h4>
        </section>
        }
