@model NotesMarketPlaceProject.Models.ChangepasswordModel
<!DOCTYPE html>
<html>
<head>
    <!--Important meta tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--Bootstrap CSS-->
    <link href="~/Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/changepwd.css">

    <!--Responsive CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive_changepwd.css">

    <!--Font Awesome-->
    <link rel="stylesheet" href="~/Content/css/font-awesome/css/font-awesome.min.css">


</head>
<body>
    <section id="login">
        <div class="content-box-lg">
            <div class="row justify-content-center">
                <div class="col-6 ml-auto mr-auto page-center">
                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="img-logo">
                            <img src="~/Content/images/pre-login/top-logo.png" alt="logo">
                        </div>
                    </div>

                    @using (Html.BeginForm("Changepassword", "NotesMarketPlace", FormMethod.Post, new { Role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        {

                            <div class="form-container">
                                <h1>Change Password</h1>
                                <p>Enter your new password to change your password</p>
                                <div class="row">
                                    <!--Old Password-->
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <div class="form-group pwd">
                                            @Html.Label("OldPassword", "Old Password", new { @class = "password" })
                                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @id = "password-field1", @placeholder = "Enter Your Old Password" })
                                            <span toggle="#password-field1" class="eye1 field-icon toggle-password" id="old-pwd"><img src="~/Content/images/pre-login/eye.png" alt="eye"></span>
                                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @style = "color:red" })
                                        </div>
                                    </div>

                                    <!--New Password-->
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <div class="form-group pwd">
                                            @Html.Label("NewPassword", "New Password", new { @class = "password" })
                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @id = "password-field2", @placeholder = "Enter Your New Password" })
                                            <span toggle="#password-field2" class="eye2 field-icon toggle-password" id="new-pwd"><img src="~/Content/images/pre-login/eye.png" alt="eye"></span>
                                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @style = "color:red" })
                                        </div>
                                    </div>

                                    <!--Confirm Password-->
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <div class="form-group pwd">
                                            @Html.Label("ConfirmPassword", "Confirm Password", new { @class = "password" })
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @id = "password-field3", @placeholder = "Enter Your Confirm Password" })
                                            <span toggle="#password-field3" class="eye3 field-icon toggle-password" id="confirm-pwd"><img src="~/Content/images/pre-login/eye.png" alt="eye"></span>
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @style = "color:red" })
                                        </div>
                                    </div>

                                    <!--Button-->
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <button type="submit" class="btn btn-primary btn-block">SUBMIT</button>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    if('@ViewBag.successMessage'!="")
                    { 
                       <script type="text/javascript">
                           window.onload = function () {
                               $('#login').show();
                           }
                       </script>                                                                   
                    }
                </div>
            </div>
        </div>
    </section>

    <!--JQuery JS-->
    <script type="text/javascript" src="~/Scripts/js/jquery.js"></script>

    <!--Bootstrap JS-->
    <script type="text/javascript" src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>

    <!--Custom JS-->
    <script type="text/javascript" src="~/Scripts/js/login.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

@*<script>
        if('@ViewBag.successMessage'!="")
        {
            $('#divSuccessMessage').show();
        }
        else
        {
            $('#divSuccessMessage').hide();
        }
</script>*@
</body>
</html>