@model NotesMarketPlaceProject.Models.ContactUs
@{
    ViewBag.Title = "Add-Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap/bootstrap.min.css">

    <!--Custom CSS-->
    <link href="~/Content/css/contactus.css" rel="stylesheet" />

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive_contactus.css">
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="~/Content/images/Add-notes/logo.png" alt="logo" class="logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-right">
                    <li class="nav-item"><a class="nav-link" href="search_notes.html">Search Notes</a></li>
                    <li class="nav-item"><a class="nav-link" href="mysold_notes.html">Sell Your Notes</a></li>
                    <li class="nav-item"><a class="nav-link" href="FAQ.html">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link" href="contactus.html">Contact Us</a></li>
                    <li class="nav-item" id="btn">
                        <a class="nav-link" href="#"><button type="submit" class="btn btn-primary btn-block">Login</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navbar Ends-->
    <!--Background image-->
    <section id="background-image">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12 text-center">
                    <h2 id="title">Contact Us</h2>
                </div>
            </div>
        </div>
    </section>
    <!--Background image Ends-->
    <!--Get In Touch-->
    @using (Html.BeginForm("ContactUs", "NotesMarketPlace", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row">

                <!--Left Part-->
                <div class="col-md-12" id="heading">
                    <h2>Get In Touch</h2>
                    <p>Let us know how to get back to you</p>
                </div>
                <div class="col-md-6 col-sm-6 col-12">
                    <div class="form-row">
                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="form-group input">
                                @Html.Label("exampleInput", "Full Name*")
                                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @id = "exampleInput", @placeholder = "Enter your full name" })
                                @Html.ValidationMessageFor(m => m.FullName, "", new { style = "color :red;" })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="form-group input">
                                @Html.Label("exampleInputEmail1", "Email Address*")
                                @Html.TextBoxFor(m => m.EMailid, new { @class = "form-control", @id = "exampleInputEmail1", @placeholder = "Enter your email address" })
                                @Html.ValidationMessageFor(m => m.EMailid, "", new { style = "color :red;" })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="form-group input" id="input">
                                @Html.Label("exampleInput", "Subject*")
                                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @id = "exampleInput", @placeholder = "Enter your subject" })
                                @Html.ValidationMessageFor(m => m.Subject, "", new { style = "color:red;" })
                            </div>
                        </div>
                    </div>
                </div>
                <!--Left side ends-->
                <!--Right Side Part-->
                <div class="col-md-6 col-sm-6 col-12">
                    <div class="form-row">
                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="form-group input" id="comments">
                                @Html.Label("exampleInput", "Comments / Questions*")
                                @Html.TextAreaFor(m => m.Questions, new { @class = "form-control", @placeholder = "Comments..", style = "height: 275px;" })
                                @Html.ValidationMessageFor(m => m.Questions, "", new { style = "color: red;" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-12">
                    <button type="submit" class="btn btn-primary" id="submit">
                        SUBMIT
                    </button>
                </div>
            </div>
        </div>
    }
    @Html.Partial("_Footer")
    <!--JQuery JS-->
    <script src="~/Scripts/js/jquery.js"></script>

    <!--Bootstrap JS-->
    <script type="text/javascript" src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
