@model NotesMarketPlaceProject.ViewModel.DashboardViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--Bootstrap CSS-->
    <link href="~/Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!--Datatable CSS-->
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/dashboard.css">

    <!--Custom CSS-->
    <link href="~/Content/css/responsive_dashboard.css" rel="stylesheet" />

</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="~/Content/images/logo.png" alt="logo" class="logo" />
            </a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-right">
                    <li class="nav-item"><a href="@Url.Action("SearchNotes", "NotesMarketPlace")" class="nav-link">Search Notes</a></li>
                    <li class="nav-item"><a href="@Url.Action("Dashboard", "NotesMarketPlace")" class="nav-link">Sell Your Notes</a></li>
                    <li class="nav-item"><a href="@Url.Action("BuyerRequest", "NotesMarketPlace")" class="nav-link">Buyer Requests</a></li>
                    <li class="nav-item"><a href="@Url.Action("FAQ", "NotesMarketPlace")" class="nav-link">FAQ</a></li>
                    <li class="nav-item"><a href="@Url.Action("ContactUs", "NotesMarketPlace")" class="nav-link">Contact Us</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img src="@Url.Action("UserPhoto", "NotesMarketPlace" )" alt="logo">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="@Url.Action("EditProfile", "NotesMarketPlace")" class="dropdown-item">My Profile</a>
                            <a href="@Url.Action("DownloadNotes", "NotesMarketPlace")" class="dropdown-item">My Download</a>
                            <a href="@Url.Action("SoldNotes", "NotesMarketPlace")" class="dropdown-item">My Sold Notes</a>
                            <a href="@Url.Action("RejectedNotes", "NotesMarketPlace")" class="dropdown-item">My Rejected Notes</a>
                            <a href="@Url.Action("Changepassword", "NotesMarketPlace")" class="dropdown-item">Change Password</a>
                            <a class="dropdown-item" id="log-out" onclick="logout()">Logout</a>
                        </div>
                    </li>
                    <li class="nav-item" id="btn">
                        <a href="@Url.Action("Logout", "NotesMarketPlace")" class="nav-link"><button type="submit" class="btn btn-primary btn-block" onclick="return logoutcall()">Logout</button></a>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navbar Ends-->
    <!--Dashboard Box-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <!--Part 1-->
                <div class="row" id="dash-box">
                    <!--Left Part-->
                    <div class="col-md-6 col-sm-7 col-6" id="heading-left">
                        <!--Heading-->
                        <h3>Dashboard</h3>
                    </div>

                    <!--Right Part-->
                    <div class="col-md-6 col-sm-5 col-6" id="add-note">
                        <!--Button-->
                        <a href="@Url.Action("UserAddNotes","NotesMarketPlace")"><button class="btn btn-primary" id="btn-add-note">ADD NOTE</button></a>
                    </div>
                </div>
                <!--Part 1 Ends-->
                <!--part 2-->
                <div class="row" id="dashboard">

                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <div class="card dashboard-card mx-auto">
                            <div class="card-body">

                                <img src="~/Content/images/Dashboard/earning-icon.svg" />
                                <img src="~/Content/images/Dashboard/earning-icon.svg" alt="my-earning-img">
                                <h1 class="dashboard-heading text-center">My Earning</h1>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-8 col-sm-8">
                        <div class="card dashboard-card mx-auto">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                                        <a href="@Url.Action("SoldNotes","NotesMarketPlace")"><h1 class="dashboard-heading">@ViewBag.countsoldnote</h1></a>
                                        <p class="dashboard-text">Number Of Notes Sold</p>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                                        <a href="@Url.Action("SoldNotes","NotesMarketPlace")"><h1 class="dashboard-heading">$@ViewBag.totalearning</h1></a>
                                        <p class="dashboard-text">Money Earned</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <div class="card dashboard-card mx-auto">
                            <div class="card-body text-center">
                                <a href="@Url.Action("DownloadNotes","NotesMarketPlace")"><h1 class="dashboard-heading">@ViewBag.countdownloadnotes</h1></a>
                                <p class="dashboard-text">My Downloads</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <div class="card dashboard-card mx-auto">
                            <div class="card-body text-center">
                                <a href="@Url.Action("RejectedNotes","NotesMarketPlace")"><h1 class="dashboard-heading">@ViewBag.countrejectednotes</h1></a>
                                <p class="dashboard-text">My Rejected Notes</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <div class="card dashboard-card mx-auto">
                            <div class="card-body text-center">
                                <a href="@Url.Action("BuyerRequest","NotesMarketPlace")"><h1 class="dashboard-heading">@ViewBag.countbuyerrequest</h1></a>
                                <p class="dashboard-text">Buyer Requests</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--part 2 Ends-->
                <!--Part 3-->
                <div class="row" id="in-progress">
                    <div class="col-md-6 col-sm-6 col-12" id="heading">
                        <h3>In Progress Notes</h3>
                    </div>

                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="row" id="search">
                            <div class="col-md-8  col-sm-6 col-6">
                                <div class="form-group exampleInput">
                                    <input type="text" class="form-control" id="exampleInput1" placeholder="Search">
                                </div>
                            </div>
                            <div class="col-md-4  col-sm-6 col-6">
                                <button class="btn btn-primary" id="searchbtn1">SEARCH</button>
                            </div>
                        </div>
                    </div>
                </div>
            
            

            <!--Table 1-->
            <div class="row" id="table-1">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table" id="dashboard_table1" data-pagination="true">
                            <thead>
                                <tr class="th_table">
                                    <th>ADDED DATE</th>
                                    <th>TITLE</th>
                                    <th>CATEGORY</th>
                                    <th>STATUS</th>
                                    <th>ACTIONS</th>
                                </tr>

                            </thead>
                            <tbody>

                                @foreach (var item in Model.inprogress)
                                {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.titlelist.CreatedDate)</td>
                                    <td><a href="@Url.Action("NoteDetails", "NotesMarketPlace", new { id = item.titlelist.ID })">@Html.DisplayFor(m => item.titlelist.Title)</a></td>
                                    
                                    <td>@Html.DisplayFor(m => item.categorylist.CategoryName)</td>
                                    <td>@Html.DisplayFor(m => item.statuslist.DataValue)</td>

                                    @if (item.statuslist.DataValue == "Draft")
                                    {
                                        <td>
                                            <a href="@Url.Action("DashboardEditNote", "NotesMarketPlace", new { id = item.titlelist.ID })"><img src="~/Content/images/Dashboard/edit.png" id="view-1" alt="edit" /></a>
                                            <a href="@Url.Action("DeleteNotes", "NotesMarketPlace", new { id = item.titlelist.ID })"><img src="~/Content/images/delete.png" class="deletenote" alt="delete" onclick="return chk()"></a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <img src="~/Content/images/Dashboard/eye.png" id="view-1" alt="view" onclick="window.location.href='@Url.Action("NoteDetails","NotesMarketPlace", new { id=item.titlelist.ID})'">
                                        </td>
                                    }
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <!--Part 4-->
            <div class="row" id="published">
                <div class="col-md-6 col-sm-6 col-12" id="heading">
                    <h3>Published Notes</h3>
                </div>

                <div class="col-md-6 col-sm-6 col-12">
                    <div class="row" id="search">
                        <div class="col-md-8  col-sm-6 col-6">
                            <div class="form-group exampleInput">
                                <input type="text" class="form-control" id="exampleInput2" placeholder="Search">
                            </div>
                        </div>
                        <div class="col-md-4  col-sm-6 col-6">
                            <button class="btn btn-primary" id="searchbtn2">SEARCH</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Table 2-->
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table" id="dashboard_table2" data-pagination="true">
                            <thead>
                                <tr class="tr">
                                    <th>ADDED DATE</th>
                                    <th>TITLE</th>
                                    <th>CATEGORY</th>
                                    <th>SELL TYPE</th>
                                    <th>PRICE</th>
                                    <th>ACTIONS</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.published)
                                {
                                    <tr>
                                        <td>@item.titlelist1.CreatedDate</td>
                                        <td><a href="@Url.Action("NoteDetails", "NotesMarketPlace", new { id = item.titlelist1.ID })">@item.titlelist1.Title</a></td>
                                        <td>@item.categorylist.CategoryName</td>

                                        @if (item.titlelist1.IsPaid == false)
                                        {
                                            <td>Free</td>
                                        }
                                        else
                                        {
                                            <td>Paid</td>
                                        }
                                        <td>$@item.titlelist1.SellingPrice</td>
                                        <td><img src="~/Content/images/Dashboard/eye.png" alt="review" onclick="window.location.href='@Url.Action("NoteDetails","NotesMarketPlace", new { id=item.titlelist1.ID})'"></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    
    @Html.Partial("_Footer")
    <!--JQuery JS-->
    <script src="~/Scripts/js/jquery.js"></script>

    <!--Bootstrap JS-->
    <script type="text/javascript" src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>

    @section  Scripts{
        <script>
            $(document).ready(function () {
                $.noConflict();

                var table = $('#dashboard_table1').DataTable({
                    'sDom': '"top"i',
                    "iDisplayLength": 5,
                    language: {
                        paginate: {
                            next: '<i class="fa fa-angle-right fa-1x"></i>',
                            previous: '<i class="fa fa-angle-left fa-1x"></i>',
                            first: false,
                            last: false
                        }
                    }
                });
                var table1 = $('#dashboard_table2').DataTable({
                    'sDom': '"top"i',
                    "iDisplayLength": 5,
                    language: {
                        paginate: {
                            next: '<i class="fa fa-angle-right fa-1x"></i>',
                            previous: '<i class="fa fa-angle-left fa-1x"></i>',
                            first: false,
                            last: false
                        }
                    }
                });

                $("#searchbtn1").click(function () {
                    var x = $("#exampleInput1").val();
                    table.search(x).draw();
                });

                $("#searchbtn2").click(function () {
                    var x = $("#exampleInput2").val();
                    table1.search(x).draw();
                });
            });

            function chk() {
                if (confirm("Are you sure ,you want to delete this note??")) {
                    return true;
                } else {
                    return false;
                }
            }

            function logoutcall() {
                if (confirm("Are you sure ,you want to Logout??")) {
                    return true;
                } else {
                    return false;
                }
            }
            function logout() {
            if (confirm("Are you sure ,you want to Logout??")) {
                window.location.href = '@Url.Action("Logout", "NotesMarketPlace")';
            }
            else {
                window.location.href = '@Url.Action("Dashboard", "NotesMarketPlace")';
            }
        }
        </script>
    }
</body>
</html >
