@*//@model IEnumerable<NotesMarketPlaceProject.Models.DownloadnNotesModel>*@
@model NotesMarketPlaceProject.ViewModel.DownloadViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <!--Important meta tags-->
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>


    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--Bootstrap CSS-->
    <link href="~/Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!--Font Awesome-->
    <link rel="stylesheet" href="~/Content/css/font-awesome/css/font-awesome.min.css">

    <!--Datatable CSS-->
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

    <!--Custom CSS-->
    <link href="~/Content/css/buyer_request.css" rel="stylesheet" />

    <!--Custom CSS-->
    <link href="~/Content/css/responsive_buyer_request.css" rel="stylesheet" />
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="~/Content/images/User-Profile/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-right">
                    <li class="nav-item"><a href="@Url.Action("SearchNotes", "NotesMarketPlace")" class="nav-link">Search Notes</a></li>
                    <li class="nav-item"><a href="@Url.Action("Dashboard", "NotesMarketPlace")" class="nav-link">Sell Your Notes</a></li>
                    <li class="nav-item"><a href="@Url.Action("BuyerRequest", "NotesMarketPlace")" class="nav-link">Buyer Requests</a></li>
                    <li class="nav-item"><a href="@Url.Action("FAQ", "NotesMarketPlace")" class="nav-link">FAQ</a></li>
                    <li class="nav-item"><a href="@Url.Action("ContactUs", "NotesMarketPlace")" class="nav-link">Contact Us</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           @*aria-haspopup="true" aria-expanded="false"*@>
                            <img src="@Url.Action("UserPhoto", "NotesMarketPlace" )" alt="logo">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="@Url.Action("EditProfile", "NotesMarketPlace")" class="dropdown-item">My Profile</a>
                            <a href="@Url.Action("DownloadNotes", "NotesMarketPlace")" class="dropdown-item">My Download</a>
                            <a href="@Url.Action("SoldNotes", "NotesMarketPlace")" class="dropdown-item">My Sold Notes</a>
                            <a href="@Url.Action("RejectedNotes", "NotesMarketPlace")" class="dropdown-item">My Rejected Notes</a>
                            <a href="@Url.Action("Changepassword", "NotesMarketPlace")" class="dropdown-item">Change Password</a>
                            <a class="dropdown-item" id="log-out">Logout</a>
                        </div>
                    </li>
                    <li class="nav-item" id="btn">
                        <a href="@Url.Action("Logout", "NotesMarketPlace")" class="nav-link"><button type="submit" class="btn btn-primary btn-block" onclick="logoutcall()">Logout</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navbar Ends-->

    <section class="downloads">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12" id="buyer">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-12" id="heading">
                            <h3>My Downloads</h3>
                        </div>

                        <div class="col-md-6 col-sm-6 col-12">
                            <div class="row" id="search">
                                <div class="col-md-8 col-sm-6 col-6">
                                    <div class="form-group exampleInput" id="dataTables_filter">
                                        <input class="form-control" id="exampleInput" placeholder="Search">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-6">
                                    <button class="btn btn-primary" type="button" id="searchbtn">SEARCH</button>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table" id="buyerrequest" data-pagination="true">
                                    <thead>
                                        <tr class="tr">
                                            <th>SR NO.</th>
                                            <th>NOTE TITLE</th>
                                            <th>CATEGORY</th>
                                            <th>BUYER</th>
                                            <th>SELL TYPE</th>
                                            <th>PRICE</th>
                                            <th>DOWNLOAD DATE</th>
                                            <th> </th>
                                            <th> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int i = 0;}
                                        @foreach (var item in Model.downloadnNotes)
                                        {
                                            <!--Hidden value-->
                                            @Html.HiddenFor(m => item.downloadtbl.ID)
                                            <!--Hidden value ends-->
                                            <tr>
                                                <td>@(i+=1)</td>
                                                <td><a href="@Url.Action("NoteDetails", "NotesMarketPlace", new { id = item.downloadtbl.NoteID })">@Html.DisplayFor(m => item.downloadtbl.NoteTitle)</a></td>
                                                <td>@Html.DisplayFor(m => item.downloadtbl.NoteCategory)</td>
                                                <td>@Html.DisplayFor(m => item.usertbl.EmailID)</td>
                                                @if (item.downloadtbl.IsPaid == false)
                                                {
                                                    <td>Free</td>
                                                }
                                                else
                                                {
                                                    <td>Paid</td>
                                                }
                                                <td>$@item.downloadtbl.PurchasedPrice</td>
                                                <td>@item.downloadtbl.CreatedDate</td>
                                                <td>
                                                    <img src="~/Content/images/downloads/eye.png" id="view-1" alt="view" onclick="window.location.href='@Url.Action("NoteDetails","NotesMarketPlace", new { id=item.downloadtbl.NoteID})'">
                                                </td>
                                                <td>
                                                    <div class="dropdown" id="dotdropdown">
                                                        <img src="~/Content/images/dots.png" class="dropimg" alt="view" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownfor3">
                                                            <a href="@Url.Action("DownloadNotePdf", "NotesMarketPlace", new { id = item.downloadtbl.ID })" class="dropdown-item">Download Note</a>
                                                            <a href="#" data-toggle="modal" data-target="#Modal-@item.downloadtbl.ID" class="dropdown-item">Add Reviews/Feedback</a>
                                                            <a href="#" data-toggle="modal" data-target="#Modal1-@item.downloadtbl.ID" class="dropdown-item">Report as inappropriate</a>
                                                        </div>
                                                    </div>
                                                    <!-- Modal For Add Reviews-->
                                                    <div class="modal fade" id="Modal-@item.downloadtbl.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">

                                                            <div class="modal-content">
                                                                <div class="modal-body">
                                                                    <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                    @using (@Html.BeginForm("AddReview", "NotesMarketPlace", new { id = item.downloadtbl.ID }, FormMethod.Post))
                                                                    {
                                                                        @Html.AntiForgeryToken()

                                                                        <div class="review text-left">
                                                                            <h3>Add Review</h3>
                                                                        </div>
                                                                        <fieldset class="rating">
                                                                            @Html.RadioButtonFor(m => m.Ratings, 5, new { @id = $"star5-{i}" })<label class="full" for="star5-@i" title="Pretty good -5 stars"></label>
                                                                            @Html.RadioButtonFor(m => m.Ratings, 4.5, new { @id = $"star4half-{i}" })<label class="half" for="star4half-@item.downloadtbl.ID" title="Pretty good - 4.5 stars"></label>

                                                                            @Html.RadioButtonFor(m => m.Ratings, 4, new { @id = $"star4-{i}" })<label class="full" for="star4-@i" title="Pretty good - 4 stars"></label>
                                                                            @Html.RadioButtonFor(m => m.Ratings, 3.5, new { @id = $"star3half-{i}" })<label class="half" for="star3half-@i" title="Meh - 3.5 stars"></label>

                                                                            @Html.RadioButtonFor(m => m.Ratings, 3, new { @id = $"star3-{i}" })<label class="full" for="star3-@i" title="Meh - 3 stars"></label>
                                                                            @Html.RadioButtonFor(m => m.Ratings, 2.5, new { @id = $"star2half-{i}" })<label class="half" for="star2half-@i" title="Kinda bad - 2.5 stars"></label>

                                                                            @Html.RadioButtonFor(m => m.Ratings, 2, new { @id = $"star2-{i}" })<label class="full" for="star2-@i" title="Kinda bad - 2 stars"></label>
                                                                            @Html.RadioButtonFor(m => m.Ratings, 1.5, new { @id = $"star1half-{i}" })<label class="half" for="star1half-@i" title="Meh - 1.5 stars"></label>

                                                                            @Html.RadioButtonFor(m => m.Ratings, 1, new { @id = $"star1-{i}" })<label class="full" for="star1-@i" title="Sucks big time - 1 star"></label>
                                                                            @Html.RadioButtonFor(m => m.Ratings, 0.5, new { @id = $"half-{i}" })<label class="half" for="half-@i" title="Sucks big time - 0.5 stars"></label>

                                                                        </fieldset>
                                                                        <div class="comments">
                                                                            @Html.LabelFor(m => m.Comments, "Comments")
                                                                            @Html.TextAreaFor(m => m.Comments, new { @class = "form-control", @placeholder = "Comments.." })
                                                                            @Html.ValidationMessageFor(m => m.Comments, "", new { @style = "color:red" })
                                                                        </div>
                                                                        <div class="submit-btn">
                                                                            <button type="submit" id="modal-btn">SUBMIT</button>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--Modal Ends-->
                                                    <!--Modal for Report as An inappropriate-->
                                                    <div class="modal fade" id="Modal1-@item.downloadtbl.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Report as an Inappropriate.</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                @using (@Html.BeginForm("ReportIssue", "NotesMarketPlace", new { id = item.downloadtbl.ID }, FormMethod.Post))
                                                                {

                                                                    @Html.AntiForgeryToken()
                                                                    <div class="modal-body" id="report">
                                                                        @Html.Label("NoteTitle", "Note Title")
                                                                        @Html.TextBoxFor(m => item.downloadtbl.NoteTitle, new { @class = "form-control", @id = "exampleInput", @readonly = "true" })

                                                                        @Html.Label("Remarks", "Remarks")
                                                                        @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", @id = "exampleFormControlTextarea" })
                                                                        @Html.ValidationMessageFor(m => m.Remarks, "", new { @style = "color:red;" })
                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="button" id="cancel_btn" class="btn btn-secondary" data-dismiss="modal" style="background-color:green; color:white;">Cancel</button>
                                                                        <button type="submit" class="btn btn-primary report-issue" style="background-color:red; color:white;">Report An Issue</button>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--Modal Ends-->
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br />
    <br />

    @Html.Partial("_Footer")
    <!--JQuery JS-->
    <script src="~/Scripts/js/jquery.js"></script>

    <!--Bootstrap JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script type="text/javascript" src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.js"></script>

    @section  Scripts{
        <script>
            $(document).ready(function () {
                $.noConflict();
                var table = $('#buyerrequest').DataTable({
                    'sDom': '"top"i',
                    "iDisplayLength": 10,
                    language: {
                        paginate: {
                            next: '<i class="fa fa-angle-right fa-1x"></i>',
                            previous: '<i class="fa fa-angle-left fa-1x"></i>',
                            first: false,
                            last: false
                        }
                    }

                });

                $("#searchbtn").click(function () {
                    var x = $("#exampleInput").val();
                    table.search(x).draw();
                });

                $(".report-issue").click(function () {
                    if (confirm("Are you sure you want to mark this report as spam??..,you can not update it later")) {
                        return true;
                    }
                    else {
                        return false;
                    }
                });

                function logoutcall() {
                    if (confirm("Are you sure ,you want to Logout??")) {
                        return true;
                    } else {
                        return false;
                    }
                }
            });
        </script>
    }
    @Scripts.Render("~/bundles/jqueryval")

    @Html.ValidationMessage("error")
</body>
</html>

