@model NotesMarketPlaceProject.ViewModel.SearchNotesnewViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Search Notes</title>

    <!--Important meta tags-->
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap/bootstrap.min.css">

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/search_notes.css">

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive_search_notes.css">
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="~/Content/images/logo.png" alt="logo" class="logo" />
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-right">
                    <li class="nav-item"><a href="@Url.Action("SearchNotes", "NotesMarketPlace")" class="nav-link">Search Notes</a></li>
                    <li class="nav-item"><a href="@Url.Action("Dashboard", "NotesMarketPlace")" class="nav-link">Sell Your Notes</a></li>
                    <li class="nav-item"><a href="@Url.Action("FAQ", "NotesMarketPlace")" class="nav-link">FAQ</a></li>
                    <li class="nav-item"><a href="@Url.Action("ContactUs", "NotesMarketPlace")" class="nav-link">Contact Us</a></li>
                    <li class="nav-item" id="btn">
                        @if (ViewBag.Sessioncheck == null)
                        {
                            <a class="nav-link" href="@Url.Action("Login", "NotesMarketPlace")"><button type="submit" class="btn btn-primary btn-block">Login</button></a>
                        }
                        else
                        {
                            <a class="nav-link" href="@Url.Action("Logout","NotesMarketPlace")"><button type="submit" class="btn btn-primary btn-block" onclick="return logoutcall()">Logout</button></a>

                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navbar Ends-->
    <!--Background image-->
    <section id="background-image">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 id="title">Search Notes</h2>
                </div>
            </div>
        </div>
    </section>
    <!--Background image Ends-->
    <!--Search And Filter Notes-->
    <section id="description">
        <div class="container">
            <!--Heading-->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    <div class="heading">
                        <h3>Search And Filter Notes</h3>
                    </div>
                </div>
            </div>

            <form>
                <div id="search-filter">
                    <div class="row" id="search">
                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="search-here">
                                <input type="text" class="form-control" id="search_filter" placeholder="Select type" style="height: 50px;">
                            </div>
                        </div>
                    </div>

                    <!--Options based searching start-->
                    <div class="row" id="options">
                        <!--Option 1-->
                        <div class="col-md-2 col-sm-4 col-12">
                            <div class="form-group" id="option">
                                @Html.LabelFor(m => m.TypeID1, "")
                                @Html.DropDownListFor(m => m.TypeID1, new SelectList(Model.types1, "TypeID", "TypeName"), "Select Type", new { @class = "form-control custom-select" })
                            </div>
                        </div>

                        <!--Option 2-->
                        <div class="col-md-2 col-sm-4 col-12">
                            <div class="form-group" id="option">
                                @Html.LabelFor(m => m.CategoryID1, "")
                                @Html.DropDownListFor(m => m.CategoryID1, new SelectList(Model.categories1, "CategoryID", "CategoryName"), "Select Category", new { @class = "form-control custom-select" })
                            </div>
                        </div>

                        <!--Option 3-->
                        <div class="col-md-2 col-sm-4 col-12">
                            <div class="form-group" id="option">
                                @Html.LabelFor(m => m.UniversityID1, "")
                                @Html.DropDownListFor(m => m.UniversityID1, ViewBag.countryobj as SelectList, "Select University", new { @class = "form-control custom-select" })
                            </div>
                        </div>

                        <!--Option 4-->
                        <div class="col-md-2 col-sm-4 col-12">
                            <div class="form-group" id="option">
                                @Html.LabelFor(m => m.CourseID1, "")
                                @Html.DropDownListFor(m => m.CourseID1, ViewBag.courseobj as SelectList, "Select Course", new { @class = "form-control custom-select" })

                            </div>
                        </div>

                        <!--Option 5-->
                        <div class="col-md-2 col-sm-4 col-12">
                            <div class="form-group" id="option">
                                @Html.LabelFor(m => m.CountryID1, "")
                                @Html.DropDownListFor(m => m.CountryID1, new SelectList(Model.countries1, "CountryID", "CountryName"), "Select Country", new { @class = "form-control custom-select" })

                            </div>
                        </div>

                        <!--Option 6-->
                        <div class="col-md-2 col-sm-4 col-12">
                            <div class="form-group" id="option">
                                <select class="form-control custom-select" id="RatingID1">
                                    <option value="">Select Rating</option>
                                    <option value="1">1+</option>
                                    <option value="2">2+</option>
                                    <option value="3">3+</option>
                                    <option value="4">4+</option>
                                    <option value="5">5+</option>
                                </select>
                                @*@Html.LabelFor(m=>m.RatingID1,"")
                                @Html.DropDownListFor(m=>m.RatingID1, ViewBag.reviewobj as SelectList, "Select Rating", new { @class = "form-control custom-select" })*@
                            </div>
                        </div>
                    </div>
                    <!--Options based searching-->
                </div>
            </form>
        </div>
    </section>
    <!--Search And Filter Notes Ends-->
    <!--Books filtering-->
    <section id="books">
        
    </section>
    @Html.Partial("_Footer")
    <!--JQuery JS-->
    <script src="~/Scripts/js/jquery.js"></script>

    <!--Bootstrap JS-->
    <script type="text/javascript" src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>

    <!--JQuery Validate-->
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <!--Ajax Js-->
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    @section scripts {
        <script src="~/Scripts/jplist/jplist.core.min.js"></script>
        <script src="~/Scripts/jplist/jplist.pagination-bundle.min.js"></script>
        <script src="~/Scripts/jplist/jplist.textbox-filter.min.js"></script>
        <script>
            function logoutcall() {

                if (confirm("Are you sure ,you want to Logout??")) {
                    return true;
         
                } else {

                    return false;
                }
            }

            $(document).ready(function () {
                bindSearchNote()
            });
            $("#TypeID1").on("change", function () {
                bindSearchNote()
            });
            $("#CategoryID1").on("change", function () {
                bindSearchNote()
            });
            $("#UniversityID1").on("change", function () {
                bindSearchNote()
            });
            $("#CourseID1").on("change", function () {
                bindSearchNote()
            });
            $("#RatingID1").on("change", function () {
               bindSearchNote()
            });
            $("#CountryID1").on("change", function () {
                bindSearchNote()
            });
            $("#search_filter").keyup(function () {
                bindSearchNote()
            });
            function bindSearchNote() {
                
                var FK_Type_val = $("#TypeID1").val();
                var FK_Course_val = $("#CourseID1").val();
                var FK_Country_val = $("#CountryID1").val();
                var FK_University_val = $("#UniversityID1").val();
                var FK_Category_val = $("#CategoryID1").val();
                var FK_Searchdata_val = $("#search_filter").val();
                var FK_Ratings_val = $("#RatingID1").val();

                var pageSize = "9"; /*$("#DivSearchNotes .jplist-select").length > 0 ? $("#DivSearchNotes .jplist-select option:selected").attr("data-number") : "2";*/
                var pageNumber = $("#books .jplist-pagination").length > 0 && $("#books .jplist-pagination .jplist-current").val() != "" ? $("#books .jplist-pagination .jplist-current").val() : "1";

                
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("FilterNotes", "NotesMarketPlace")",
                    data: { FK_Type: FK_Type_val, FK_Course: FK_Course_val, FK_Country: FK_Country_val, FK_University: FK_University_val, FK_Category: FK_Category_val, FK_Searchdata: FK_Searchdata_val, FK_Ratings: FK_Ratings_val ,PageNumber: pageNumber, PageSize: pageSize },

                    //data is an object(just para type)
                    success: function (result) {
                        
                        $("#books").replaceWith(result);
                        
                        $("#books .jplist-pagination").find("button").bind("click", function (event) {
                            
                            $("#books .jplist-pagination").find("button").removeClass("jplist-current");
                            $(this).addClass("jplist-current");
                            
                            bindSearchNote();
                        });
                        
                        $("#books .jplist-select").bind("change", function (event) {
                            $("#books .jplist-pagination").remove();
                            bindSearchNote();
                        });

                    },
                    error: function (err) {
                        console.log(err.statusText);
                        alert(err.statusText);
                    }
                });
            }
        </script>
    }
</body>
</html>
