@model NotesMarketPlaceProject.Models.SearchNotes
<!DOCTYPE html>
<html>
<head>
    <title>Search Notes</title>

    <!--Important meta tags-->
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap/bootstrap.min.css">

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/search_notes.css">

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive_search_notes.css">
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="~/Content/images/logo.png" alt="logo" class="logo" />
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-right">
                    <li class="nav-item"><a href="@Url.Action("SearchNotes", "NotesMarketPlace")" class="nav-link">Search Notes</a></li>
                    <li class="nav-item"><a href="@Url.Action("Dashboard", "NotesMarketPlace")" class="nav-link">Sell Your Notes</a></li>
                    <li class="nav-item"><a href="@Url.Action("FAQ", "NotesMarketPlace")" class="nav-link">FAQ</a></li>
                    <li class="nav-item"><a href="@Url.Action("ContactUs", "NotesMarketPlace")" class="nav-link">Contact Us</a></li>
                    <li class="nav-item" id="btn">
                        <a href="@Url.Action("Login", "NotesMarketPlace")" class="nav-link"><button type="submit" class="btn btn-primary btn-block">Login</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navbar Ends-->
    <!--Background image-->
    <section id="background-image">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 id="title">Search Notes</h2>
                </div>
            </div>
        </div>
    </section>
    <!--Background image Ends-->
    <!--Search And Filter Notes-->
    <section id="description">
        <div class="container">
            <!--Heading-->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    <div class="heading">
                        <h3>Search And Filter Notes</h3>
                    </div>
                </div>
            </div>

            <form>
                <div id="search-filter">
                    <div class="row" id="search">
                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="search-here">
                                <input type="text" class="form-control" id="search_filter" placeholder="Select type" style="height: 50px;">
                            </div>
                        </div>
                    </div>

                    <!--Options based searching start-->
                    <div class="row" id="options">
                        <!--Option 1-->
                        <div class="col-md-2 col-sm-4 col-12">
                            <div class="form-group" id="option">
                                @Html.LabelFor(m => m.TypeID, "")
                                @Html.DropDownListFor(m => m.TypeID, new SelectList(Model.types, "TypeID", "TypeName"), "Select Type", new { @class = "form-control custom-select" ,@id="type"})
                            </div>
                        </div>

                        <!--Option 2-->
                        <div class="col-md-2 col-sm-4 col-12">
                            <div class="form-group" id="option">
                                @Html.LabelFor(m => m.CategoryID, "")
                                @Html.DropDownListFor(m => m.CategoryID, new SelectList(Model.categories, "CategoryID", "CategoryName"), "Select Category", new { @class = "form-control custom-select", @id = "ddlcategory" })
                            </div>
                        </div>

                        <!--Option 3-->
                        <div class="col-md-2 col-sm-4 col-12">
                            <div class="form-group" id="option">
                                @Html.LabelFor(m => m.UniversityName, "")
                                @Html.DropDownListFor(m => m.UniversityName, new SelectList(Model.univercities, "ID", "UniversityName"), "Select University", new { @class = "form-control custom-select", @id = "exampleInput" })
                            </div>
                        </div>

                        <!--Option 4-->
                        <div class="col-md-2 col-sm-4 col-12">
                            <div class="form-group" id="option">
                                @Html.LabelFor(m => m.Course, "")
                                @Html.DropDownListFor(m => m.Course, new SelectList(Model.courses, "ID", "Course"), "Select Course", new { @class = "form-control custom-select", @id = "exampleInput" })

                            </div>
                        </div>

                        <!--Option 5-->
                        <div class="col-md-2 col-sm-4 col-12">
                            <div class="form-group" id="option">
                                @Html.LabelFor(m => m.CountryID, "")
                                @Html.DropDownListFor(m => m.CountryID, new SelectList(Model.countries, "CountryID", "CountryName"), "Select Country", new { @class = "form-control custom-select", @id = "exampleInput" })

                            </div>
                        </div>

                        <!--Option 6-->
                        <div class="col-md-2 col-sm-4 col-12">
                            <div class="form-group" id="option">
                                <select class="form-control custom-select" id="placeholder">
                                    <option>Select Rating</option>
                                    <option>.</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--Options based searching-->
                </div>
            </form>
        </div>
    </section>
    <!--Search And Filter Notes Ends-->
    <!--Books filtering-->
    <section id="books">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    <div class="book-heading">
                        <h3>Total @ViewBag.CountBooks Notes</h3>
                    </div>
                </div>
            </div>

            <!--books-->
            <div class="container"  id="book_filter">
                <div class="card-group">
                    <div class="card-deck">
                        <div class="row">
                            @foreach (var item in Model.courses)
                            {
                                <!--Book1-->
                                <div class="col-lg-4 col-md-6 col-sm-12 col-12"  id="card_check">
                                    <div class="card" id="Note_Details" onclick="window.location.href='@Url.Action("NoteDetails","NotesMarketPlace", new { id=item.ID})'">

                                        <img class="card-img-top" src="~/Uploadimg/@item.DisplayPicture" alt="Card image cap">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title" id="notedetails">@item.Title</h5>
                                            <p class="card-text">
                                                <div class="row">
                                                    @if (item.UniversityName != null)
                                                    {
                                                        <div class="col-md-2 col-sm-2 col-2">
                                                            <span id="img1"><img src="~/Content/images/Search/university.png" alt="university-img" class="img-fluid"></span>
                                                        </div>
                                                        <div class="col-md-10 col-sm-10 col-10">
                                                            <span id="text">@Html.DisplayFor(m => item.UniversityName)</span>
                                                        </div>
                                                    }
                                                    @if (item.NumberOfPages != null)
                                                    {
                                                        <div class="col-md-2 col-sm-2 col-2">
                                                            <span id="img1"><img src="~/Content/images/Search/pages.png" alt="pages-img" class="img-fluid"></span>
                                                        </div>
                                                        <div class="col-md-10 col-sm-10 col-10">
                                                            <span id="text">@Html.DisplayFor(m => item.NumberOfPages)</span>
                                                        </div>
                                                    }
                                                    @if(item.CreatedDate!=null)
                                                    {
                                                        <div class="col-md-2 col-sm-2 col-2">
                                                            <span id="img1"><img src="~/Content/images/Search/date.png" alt="date-img" class="img-fluid"></span>
                                                        </div>
                                                        <div class="col-md-10 col-sm-10 col-10">
                                                            <span id="text">@Html.DisplayFor(m => item.CreatedDate)</span>
                                                        </div>
                                                    }
                                                    <div class="col-md-2 col-sm-2 col-2">
                                                        <span id="img1"><img src="~/Content/images/Search/flag.png" alt="flag-img" class="img-fluid"></span>
                                                    </div>
                                                    <div class="col-md-10 col-sm-10 col-10">
                                                        <span id="text-imp">@item.ReportCount Users marked this note as inappropriate</span>
                                                    </div>
                                                </div>
                                            </p>
                                            <p class="card-text">
                                                <small class="text-muted">
                                                    @for (decimal i = 0; i < item.avg; i++)
                                                    {
                                                        <img src="~/Content/images/star.png" alt="star" id="rate">
                                                    }
                                                    @for (decimal i = item.avg; i < 5; i++)
                                                    {
                                                        <img src="~/Content/images/star-white.png" alt="star" id="rate">
                                                    }
                                                    @item.RateCount Reviews
                                                </small>
                                            </p>
                                            
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("_Footer")
    <!--JQuery JS-->
    <script src="~/Scripts/js/jquery.js"></script>

    <!--Bootstrap JS-->
    <script type="text/javascript" src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>

    <!--JQuery Validate-->
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <!--Ajax Js-->
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    @section scripts {
        <script>
            
            //$('select').change(function () {
            //    var type = $('#type').val();
            //    $.ajax({
            //        type: "POST",
            //        url: '/NotesMarketPlace/FilterNotes',
            //        //data = { 'type':type},
            //        dataType: 'JSON',

            //        //data is an object(just para type)
            //        success: function (data) {
            //            alert("Hii");
            //            //$('#book_filter').html(data);
            //        },
            //        error: function (err) {
            //            alert(err.responseText);
            //        }
            //    }); 
            //});

            $(document).ready(function () {
                $("#search_filter").keyup(function () {
                    var search_item = $(this).val();
                    console.log(search_item);
                    
                    $.ajax({
                        type: "POST",
                        url: "/NotesMarketPlace/FilterNotes",
                        contentType: "html",
                        dataType: 'JSON',
                        data : { search_item : search_item },

                        //data is an object(just para type)
                        success: function (result) {
                            console.log(result);
                            //alert("hii");
                            //if (result.length == 0) {
                            //    alert("No found");
                            //}
                               
                            //else {
                            //    alert(result);
                            //    $.each(result, function (index, value) {
                            //        //var data = value.Title + "</br>";
                            //        //$('.card-deck').append(data);
                                    
                            //    });
                            //}
                        },
                        error: function (err) {
                            console.log(err.statusText);
                            alert(err.statusText);
                        }
                    });
                });
            });

            //$("#search_filter").on("keyup", function () {
            //    var textenter = $(this).val();
            //    //var title = $('#notedetails').text();
            //    $(".card").each(function (results) {
            //        {
            //            var id = $(this).find('#notedetails').text();
            //            console.log(id.indexOf(textenter))
            //            if (id.indexOf(textenter) < 0) {
            //                $(this).hide();
            //            }
            //            else {
            //                $(this).show();
                            
            //            }
            //        }
            //    });
            //});

           
        </script>
}
</body>
</html>
